body{
	margin:0 auto;             /*sirve para darle fora a la pagina en su fondo de pg el tipo de letra y el tamaño*/
	width:940px;
	font:16px/22px Helvetica, Arial, sans-serif;
	background:#f0f0f0;
	
}

header, footer, aside, nav article{
	display:block;
}
h1{
	margin:12px;
	
}
h2{
	font-size:20px;
	line-height:44px;
	padding:22px 0;
	
	
}
h3{
	font-size:16px;
	line-height:14px;
	padding:2px;
	text-align:justify;

}  
                 /*sirve para el parrafo*/

p{
	padding-bottom:28px;/*sirve para el parrafo y su color*/
	text-align:justify;
	color:#00000;
	
}

nav{
	position:absolute;/*sirve para el menenu para fondo negrito*/
	left:0;
	width:100%;       /*sirve para el menenu para central el menu*/
	background:#565656;/*sirve para el menenu para eñ color del menu*/
	
}

nav ul{
	margin:0 auto;
	width:960px;
	list-style:none;
	
}

nav ul li{
	float:left;   /*sirve paara pocionar el menu de modo horizontal*/
}
nav ul li a {
	display:block;
	margin-right:20px;
	width:140px;
font-size:16px;/*sirve paara el tamoño de l a letre del munus*/
	line-height:60px;/*sirve paara la imagen para lo alto*/
	text-align:center;
	text-decoration:none;
	color:#fff;

}
nav ul li a:hover{
	color:#000;
}

nav ul li.selected a{
	color:#000;
}
nav ul li.subscribe a{
	margin-left:22px;
	padding-left:33px;
	text-align:left;
	
}
#intro{
	margin-top:66px;
	padding:45px;
	background:#4647612 url("intro_background.png")repeat-x;
	background-size:100%;
	border-radius:22px;
}
intro{
	-webkit-background-size:100%;
	-khtml-background-size:100%;
	-moz-border-radius:22px;
	-webkit-border-radius:22px;
	
                                             
	}
	/*sirve paara posicion de la imagen color verde*/
	
#intro h2; #intro p{
	position:relative;
	z-index:9999;
	width:336px;
}
	
	#intro h2{
	 padding:0 0 22px 0 ;
	 font-weight:normal;
	 color:fff;
	
    }
	#intro p{
	padding:0;
	color:#000;  /*sirve para darle el color en la parte comentario color negro*/
	
	
    }
	#intro img{
	position:absolute;  /*Muestra la imagen*/
	top:106;
	left:390px;
	width:1000;/*hace que la img para su ancho*/
	height:30%;
	right:0;
	opacity:0.6;  /*hace que la img disminuya el brio*/
	text-align:justify;
	
	
	}
	
	#content{
	display:table;
}
	
	#mainContent{
	display:table-cell;
	width:620px;
	padding-right:22px;
}
	
	aside{
	display:table-cell;
	width:300px;
}

	
	.blogpost header p, .blogpost header p a{
	 font-size:14px;
	 font-style:italic;
	 color:#777;
	 
	}
	.blogpost header p a:hover{
	 text-decoration:none;
	 color:#000
	}
	.blogpost div{
	 -moz-column-count:2px;
	 -webkit-column-count:2px;
	 -moz-column-gap:22px;
	 -webkit-column-gap:22px;
	}
	.blogpost img{
	 margin:25px 0;
	 -webkit-box-shadow:3px 3px 7px #777;
	}
	
	
	#coments{
	 margin-top:21px ;
	padding-top:22px;
	border-top:1px solid #d7d7d7;
	text-align: left
	
	}
	
	
	
	#coments article{
	display:table;
	padding:10px;
	
	}
	#comments article:nth-child(odd){
	padding:22px ;
	background:#E3E3E3;
	border:1px,solid #2b0603;
	-moz-border-radius:11px;
	-webkit-border-radius:11px;
   
	}
	#comments article header{
	display:table-cell;
	width:220px;
	padding-right:22px
	
	}
	#comments article a{
	display:block;
	font-weight:bold;
	color:#000;
    	background-color:#acc6e8;
	}
	
	
	
	#comments article header a:hover{
	text-decoration:none;
	text-align: right
	}
	#comments article p{
	padding:5;
	}
	
	
	form{
	margin-top:21px;
	padding-top:22px;
	border-top:1px,solied #d7d7d7;
	}
	form p{
	display:table;
	margin-bottom:22px;
	padding:0 22px
	}
	form lable{
	display:table-cell;
	width:140px;
	padding-right:20px;
	text-align:right;
	font-weight:bold;
	vertical-align:top;
	}
	form input [type"text"],form input[type"email"],form input[type"url"] {
	display:table-cell;
	width:300px;
	height:20px;
	border:1px solid #d7d7d7;
	}
	form textarea{
	widows:300px;
	height:100px;
	border:1px solid #d7d7d7;

	}
	}
	form input [type"submit"]{
	margin-left:162px;
	} 
	
	
	
	
	aside section {
	margin: 22px 0 0 22px;
	padding:10px 22px;
	background:url("IMG/sidebar_section_backgrond.png")repeat-x;
	-moz-border-radius:11px;
	-webkit-border-radius:11px;
   
	}
	
	
	aside section  ul  {
	margin: 0 0 0 22px;
	list-style:none;
   text-align:justify;
   
	
	}
aside section h3{
		 position:relative;
        left:809px;
		height:0;
	    
	}
    aside section ul li a {
	display:block;
	text-decoration:none;
	color:#000;
	float: left;
     position: relative; /*para la posicion del menu relative izquierdo*/
	 left: 400%;/*sirve para alargar el footer en color negro*/
	}
	
	
	
	
	aside section ul a:hover {
	text-decoration:underline;
	}
	
	footer {
	position:absolute;
	left:0;
	width:100%;            /*sirve para alargar el footer en color negro*/
	background:#222;
	}
	footer div{
	display:table;
	margin:0 auto;
	padding:50px;
	width:940px;
	color:#777;
	
	}
	footer div section{
	display:table-cell;
	width:300px;
	}
	footer div #about,footer div #blogroll{
    padding-right:20px           
	}
	footer h3{
	color:#FFF;
	}
	footer a{
	color:#999;
	}
	footer a:hover{
	color:#fff;
	text-decoration:none;
	}
	footer ul{
	margin:0 0 0 40px;
	list-style:square;
	color:#565656;
	}
	footer ul li a{
	display:block;
	}
	.pie{
		position:absolute;
		font:bold 15px Arial;
		font-size:100%;
		font-style:italic;
		
	}	
	
	
	
	